<html>
    <head>
        <title>Your Ping Pong!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Ping-Pong!</h1>
            <ul class="list-unstyleD">
                {% for result in results %}
                    <li>{{ result }}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
